// -------------------------------------------------------
// 修改ant组件样式
// @description 描述
// 目录：
// 菜单列表
// 表单
// -------------------------------------------------------

@import "variables";
@import "mixins";

// -------------------------------------------------------
// 菜单列表
// -------------------------------------------------------

// 修补bug
.ant-menu-dark .ant-menu-item {
  > span > a {
    color: rgba(255, 255, 255, 0.65);
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &.ant-menu-item-active,
  &.ant-menu-item-selected {
    > span > a {
      color: #fff;
    }
  }
}

// -------------------------------------------------------
// 表单
// -------------------------------------------------------

.main-form {
  .ant-form-item {
    .ant-picker {
      width: 100%;
    }

    .ant-btn {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

