// -------------------------------------------------------
// 自定义美化滚动条
// -------------------------------------------------------

@mixin c-scrollbar() {
  // 滚动条凹槽的颜色，还可以设置边框属性
  &::-webkit-scrollbar-track-piece {
    background-color: rgba(#fff, 0);
  }

  // 滚动条的宽度
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  // 滚动条的设置
  &::-webkit-scrollbar-thumb {
    background-color: #dddee0;
    background-clip: padding-box;
    min-height: 20px;
    border-radius: 4px;

    &:hover {
      background-color: #c7c9cc;
    }
  }
}
