// -------------------------------------------------------
// 自定义美化滚动条
// -------------------------------------------------------

@mixin c-scrollbar($size: 8px) {
  // 滚动条凹槽的颜色，还可以设置边框属性
  &::-webkit-scrollbar-track-piece {
    background-color: rgba(#fff, 0);
  }

  // 滚动条的宽度
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  // 滚动条的设置
  &::-webkit-scrollbar-thumb {
    background-color: rgba(#000, .22);
    background-clip: padding-box;
    min-height: $size * 2;
    border-radius: $size / 2;

    &:hover {
      background-color: rgba(#000, .33);
    }
  }
}
