// -------------------------------------------------------
// 文本单行省略号
// -------------------------------------------------------

@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}