// -------------------------------------------------------
// 表单占位符颜色
// -------------------------------------------------------

@mixin placeholder($color: #d3d3d3) {
  input, textarea {
    &:-moz-placeholder { // Mozilla Firefox 4 to 18
      color: $color;
    }
    &::-moz-placeholder { // Mozilla Firefox 19+
      color: $color;
    }
    &:-ms-input-placeholder {
      color: $color;
    }
    &::-ms-input-placeholder {
      color: $color;
    }
    &::-webkit-input-placeholder {
      color: $color;
    }
    &::placeholder {
      color: $color;
    }
  }
}

@mixin deep-placeholder($color: #d3d3d3) {
  /deep/ input, textarea {
    &:-moz-placeholder { // Mozilla Firefox 4 to 18
      color: $color;
    }
    &::-moz-placeholder { // Mozilla Firefox 19+
      color: $color;
    }
    &:-ms-input-placeholder {
      color: $color;
    }
    &::-webkit-input-placeholder {
      color: $color;
    }
    &::placeholder {
      color: $color;
    }
  }
}